body {
  background: #828282;
  color: #555;
  font-family: "museo-sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: #cc6a6a;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 0 0 #ccc;
}

a:hover {
  color: #cc4141;
  text-decoration: underline;
}

a.internal {
  color: #888;
}

a.internal:hover,
a.internal:active,
a.internal.active {
  color: #7f9f7f;
  text-decoration: none;

}

blockquote {
  padding: 1em 2em 1em 1em;
  border-left: 1em solid #ccc;
  margin: 0 0 1em;
}

blockquote > p {
  color: #888;
  font-style: italic;
}

p > code {
  background-color: #e3ceab;
  color: #7F7460;
  margin: 0 0.125em;
  padding: 0 0.25em;
  font-size: 0.85em;
  vertical-align: middle;
}

div, section, ul, ol, li, nav {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

article ul {
  padding: 0 0 0 2em;
  margin: 0 0 1em
}

article ul li {
  display: list-item;
}

h1, h2, h3, h4, h5 {
  line-height: 1.125em;
  margin: 0 0 0.5em;
}

h1 {
  color: #555;
}

h2 {
  color: #666;
  padding: 0.5em 0 0;
}

h3, h4, h5 {
  color: #888;
  margin: 0 0 0.66em;
}

article > header > h1 {
  margin: 0;
}

article > header {
  margin-bottom: 1em;
}

p {
  color: #555;
  margin: 0 0 1em;
  line-height: 1.375em;
}

p:last-child {
  margin: 0;
}

code,
pre code {
  font-family: Courier, Courier New, monospace, serif;
}

pre code {
  border-radius: 0.5em;
  background: #555;
  color: #f2f2f2;
  font-size: 0.8em;
  padding: 1em;
  overflow: auto;
}

.placeholder {
  border-radius: 0.25em;

  font-size: 2em;
  padding: 2em;
  text-align: center;
  color: #e2e2e2;
}

.spinner {
  display: inline-block;
  font-family: 'scriptology';
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  padding: 0;
}

#Container > .placeholder {
  background: transparent;
  padding: 4em 0 2em;
}

#Container > .placeholder > .spinner {
  color: #e2e2e2;
}

.spinner:before {
  content: '\e804';
}

#Container {
  width: 38em;
  margin: 0 auto 5em;
  padding: 0 2em 4em;
  border-radius: 0;
  background-color: #f2f2f2;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 1em 0 #667f66, 0 1em 2em #414141;
  -webkit-transition: height 0.3s;
}

#Container > header > nav {
  padding: 0.5em 0 4em;
}

#Container nav a {
  display: inline-block;
  position: relative;
  padding: 0 0.5em 0 0;
  font-size: 2em;
}

#Container > header h1 {
  font-size: 4em;
  margin: 0;
  padding: 1em 0 0;
}

#Container > footer {
  clear: both;
  overflow: hidden;
  margin: 4em 0 0;
}

#Container > footer > p {
  font-style: italic;
  color: #888;
}

#Container > footer > img {
  float: left;
  border-radius: 0.5em;
  margin-right: 5%;
  width: 22%;
  height: 22%;
}


#Content > ol > li:not(:last-child) {
  margin-bottom: 4em;
}

.log article p > img {
  width: 100%;
  border-radius: 0.5em;
}

.projects #Content header h1 {
  text-align: center;
  margin-bottom: 0;
}

#Container .archive li:not(:last-child) {
  margin-bottom: 0.5em;
}

#disqus_thread {
  padding-top: 1em;
}

body > footer {
  display: block;
  position: relative;
  margin: 0 0 4em;
  text-align: center;
  color: #555;
  opacity: 0;
}

body > footer > .profiles {
  margin: 0 0 1em;
}

body > footer > .profiles li {
  display: inline-block;
}

body > footer > .profiles li a {
  color: #555;
}


body > footer > .profiles li a:hover,
body > footer > .profiles li a:active {
  color: #f2f2f2;
  text-shadow: 0 0.25em 0 #667F66,
               0 0.25em 0.5em #414141;
  text-decoration: none;
}

body > footer > .profiles li a[class^="icon-"]:before {
  margin-left: 0;
  margin-right: 0;
  font-size: 2em;
}

body > footer > .profiles li a > span {
  display: none;
}

.scriptology body > footer {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

@media screen and (max-width: 756px) {
  #Container {
    width: 90%;
    padding: 0 5% 12%;
    min-width: 260px;
  }

  body > footer {
    min-width: 260px;
  }

  #Container > .placeholder {
    padding: 24% 0 12%;
  }
}

@media screen and (max-width: 450px) {
  #Container > header, nav {
    font-size: 16px;
  }

  article > header > h1 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 400px) {
  #Container > header, nav {
    font-size: 14px;
  }

  article > header > h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 350px) {
  #Container > header, nav {
    font-size: 12px;
  }
}
