@font-face {
  font-family: 'scriptology';
  src: url('/stylesheets/support/fonts/scriptology.eot?13596741');
  src: url('/stylesheets/support/fonts/scriptology.eot?13596741#iefix') format('embedded-opentype'),
       url('/stylesheets/support/fonts/scriptology.woff?13596741') format('woff'),
       url('/stylesheets/support/fonts/scriptology.ttf?13596741') format('truetype'),
       url('/stylesheets/support/fonts/scriptology.svg?13596741#scriptology') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'scriptology';
    src: url('../font/scriptology.svg?13596741#scriptology') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "scriptology";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-spin:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-fork:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
