{{#if content}}
  <article>
    <header>
      <h1>{{meta.title}}</h1>
    </header>
    {{{content}}}
    <div id="disqus_thread"></div>
  </article>
{{else}}
  <div class="placeholder">
    <div class="spinner"></div>
  </div>
{{/if}}
