<img src="/images/chris@2x.png" title="Chris Joel" alt="Chris Joel" width="256" height="256">
<p>Chris Joel has been building things on the internet for the better part of his life. His passion is building rich, connected and responsive games and applications for the web. His resume can be found <a href="http://cdata.github.com/resume" title="Chris Joel's resume" alt="Chris Joel's resume" target="_blank">here</a>.</p>
